body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1a1a1a;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2a2a2a;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: #ff4081;
}

.logo {
    display: block;
    margin: 0 auto;
    background: url('images/GROUP_9-removebg-preview.png') no-repeat center;
    width: 100px;
    height: 100px;
    background-size: contain;
}

.main-member {
    text-align: center;
    margin-bottom: 30px;
}

.main-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.member-card {
    background: #3a3a3a;
    border-radius: 9px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.member-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #ffffff;
}
.input-field, .textarea-field {
    background-color: #3a3a3a;
    color: #ffffff; 
    border: 1px solid #555; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 16px; 
    width: 100%; 
    max-width: 500px; 
    margin-bottom: 15px; 
    box-sizing: border-box; 
}


.input-field {
    height: 40px; 
}


.textarea-field {
    resize: vertical;/
}


.input-field:focus, .textarea-field:focus {
    border-color: #ff4081; 
    outline: none; 
}

.submit-button {
    background-color: #ffffff; 
    color: #2b2a2a; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 10px; 
    font-size: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    width: auto; 
    max-width: 200px; 
}


@media (max-width: 600px) {
    .submit-button {
        width: 100%; 
    }
}

.submit-button:hover {
    background-color: #f4eded; 
}

.submit-button:active {
    background-color: #fdfdfd; 
}
